/* グローバルスタイル設定 */
body {
    font-family: Arial, sans-serif;
}

/* ダッシュボードのスタイル */
.admin-dashboard {
    font-size: 24px;
    font-weight: bold;
    color: #8B7969;
    text-align: center;
    margin-bottom: 20px;
}

/* 検索バーのスタイル */
.search-bar {
    font-family: 'Inika';
    width: 100%;
    max-width: 917px;
    margin: 20px auto;
    height: 50px;
}

.search-form .form__group {
    display: inline-block;
    margin-right: 10px;
    background-color: #8B7969;
    color: #FFFFFF;
}

.input-field {
    padding: 5px;
    box-sizing: border-box;
}

/* 統合された名前・メールアドレス検索フィールドのスタイル */
.search-query {
    width: 250px;
    height: 50px;
    margin-right: 10px;
}

/* 性別検索フィールドのスタイル */
.search-gender {
    width: 150px;
    height: 50px;
    margin-right: 10px;
}

/* お問い合わせ種類検索フィールドのスタイル */
.search-category {
    width: 200px;
    height: 50px;
    margin-right: 10px;
}

/* 日付検索フィールドのスタイル */
.search-date {
    width: 150px;
    height: 50px;
    margin-right: 10px;
}

/* 検索ボタンのスタイル */
.search-btn {
    width: 102px;
    height: 50px;
    margin-right: 10px;
}

/* リセットボタンのスタイル */
.reset-btn {
    width: 102px;
    height: 50px;
}

/* ページネーションリンクのスタイル */
.pagination-links {
    text-align: center;
    margin-top: 20px;
}

.pagination-links .pagination {
    display: inline-block;
}

.pagination-links .pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination-links .pagination li a,
.pagination-links .pagination li span {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.pagination-links .pagination li a:hover,
.pagination-links .pagination li span:hover {
    background-color: #ddd;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}

/* テーブルのスタイル */
.contact-table table {
    width: 100%;
    border-collapse: collapse;
}

.contact-table th,
.contact-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.contact-table th {
    background-color: #f2f2f2;
}

/* モーダルのスタイル */
.modal {
    display: none;
    /* モーダルが初期状態で表示されない */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#deleteButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right;
}

#deleteButton:hover {
    background-color: darkred;
}