/* 全体のスタイル */
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f2ece7;
}

/* ヘッダー共通スタイル */
.header {
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border-bottom: 1px solid #8B7969;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__inner {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
    /* 相対位置 */
}

.header__logo {
    flex: 1;
    /* 他の要素に対して中央に配置されるようにする */
    text-align: center;
}

.header__logo a {
    font-family: 'Inika';
    font-style: normal;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #8B7969;
}

/* 新規登録リンクのスタイル */
.header-link {
    font-family: 'Inika';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #8B7969;
    padding: 5px 10px;
    border: 1px solid #8B7969;
    border-radius: 5px;
    background-color: #f4f4f4;
    position: absolute;
    /* 絶対位置 */
    right: 0;
    /* 右端に配置 */
    top: 50%;
    /* 垂直中央揃え */
    transform: translateY(-50%);
    margin-right: 20px;
    /* 右端からのマージンを設定 */
    border: 1px solid #D9C6B5;
}

/* メインコンテンツ */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 40px;
}